/* modals */
.modal-dialog {
	transition: 500ms ease-in-out;
	transition-property: width, max-width, min-width;
}
.modal .v-modal-inner {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	row-gap: 1.5rem;
	padding-block-end: 1rem;
}
.modal-body::-webkit-scrollbar {
	width: 5px;
	scrollbar-gutter: 10px;
}
.modal .v-modal-inner .v-text {
	font-size: 0.9rem;
	font-weight: 480;
	opacity: 0.8;
}
.modal .v-profile-avatar-x {
	--size: 2.3rem;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-clr);
	overflow: hidden;
}
.modal .v-cat-container:not([class*="mt-"]) {
	margin-top: 1.5rem;
}
.modal .v-cat-container .v-cat {
	background-color: var(--primary-clr);
	color: var(--white);
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-block: 13px;
	border-radius: 5px;
}
.modal .v-basic-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 5px;
}
.modal .v-profile-avatar-x .img-fluid {
	width: 100%;
	height: 100%;
	overflow: hidden;
	object-fit: cover;
}
.modal .v-modal-footer .img-fluid {
	width: 100%;
	height: 100%;
}
.modal .v-modal-footer .v-social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.modal .v-basic-details .v-names {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}
.modal .v-basic-details .v-names :is(div:has(span, button), .v-copy) {
	color: var(--primary-clr);
	gap: 0.4rem;
}
.modal .v-profile-link .v-copy {
	border: 1px solid #0003;
	line-height: 1;
	padding: 8px 10px;
	border-radius: 5px;
	font-size: 0.9rem;
	font-weight: 490;
}
.modal .v-profile-link .v-left .v-top {
	font-size: 0.9rem;
	opacity: 0.5;
	letter-spacing: -0.2px;
	font-weight: 460;
}
.modal .v-profile-link .v-profile-deposit-link {
	font-size: 0.95rem;
	font-weight: 500;
}
.modal .v-names .v-copy svg {
	--size: 1.5rem;
}
.modal .v-profile-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 1rem;
	width: 100%;
	padding: 0.8rem 0.9rem;
	border-radius: 6px;
	flex-wrap: wrap;
	row-gap: 1rem;
	border: 1px solid rgba(var(--dark-variant), 0.2);
}
.modal .v-profile-link .v-left {
	display: flex;
	flex-direction: column;
	text-align: start;
}
.modal .v-modal-footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 1rem;
}
.modal .v-modal-footer .v-each-icon {
	--size: 2.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	width: var(--size);
	height: var(--size);
}
.modal .v-modal-footer > span {
	font-size: 0.94rem;
}
.modal .v-post-footer {
	display: flex;
	align-items: center;
}
.modal .v-post-footer a {
	background-color: var(--nav-link-bg);
	color: var(--dark-variant);
	display: block;
	width: 100%;
	flex-grow: 1;
	padding-block: 0.9rem;
	font-weight: 500;
	border-radius: 5px;
}
.modal .v-modal-inner .v-image-container {
	--size: 10rem;
	max-width: var(--size);
	width: 100%;
	margin-inline: auto;
}

/* 	#create-new-card modal */
.v-lg .v-modal-body-inner {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
	padding-block: 1rem;
}
.v-lg .modal-body,
.v-lg .modal-header {
	padding: 1rem 1.5rem;
}
#create-new-card .v-each-card-option,
#create-new-card .v-each-card-option .v-card-merits {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#create-new-card .v-each-card-option .v-card-merits {
	margin-block: 1.2rem 1.5rem;
}
#create-new-card .v-each-card-option .v-card-merits {
	row-gap: 0.5rem;
}
#create-new-card .v-each-card-option {
	padding: 0.5rem;
	border: 1px solid rgba(var(--dark-variant), 0.1);
	border-radius: 10px;
	row-gap: 10px;
	contain: paint;
	position: relative;
	transition: 300ms ease-in-out;
	transition-property: border-color, background-color;
}
#create-new-card .v-each-card-option::before {
	--size: 200px;
	--shift: 70px;
	--multiple: -0.5;
	position: fixed;
	content: "";
	width: var(--size);
	height: var(--size);
	background-color: rgba(var(--primary-clr-variant), 0.05);
	z-index: -1;
	border-radius: 50%;
	aspect-ratio: 1/1;
	top: calc(var(--shift) * var(--multiple));
	left: calc(var(--shift) * var(--multiple));
	transition: 600ms ease-in-out;
	transform: scale(1);
	transition-property: all;
}
#create-new-card .v-each-card-option:hover {
	border-color: rgba(var(--primary-clr-variant), 0.3);
}
#create-new-card .v-each-card-option:hover::before {
	--size: 100%;
	--shift: -60px;
	--multiple: 0;
	transform: scale(2);
	top: var(--shift);
	left: var(--shift);
}
#create-new-card .v-each-card-option .v-card-toggle-header {
	font-weight: 600;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
#create-new-card .v-each-card-option .v-card-toggle-header svg {
	--size: 1.5rem;
	transition: 300ms ease-in-out;
	transition-property: opacity;
	opacity: 0;
}
#create-new-card .v-each-card-option:hover svg {
	color: var(--primary-clr);
	opacity: 0.9;
}
#create-new-card .v-each-card-option .v-subheader .v-text {
	font-weight: 500;
	color: var(--primary-clr);
	font-size: 0.95rem;
}
#create-new-card .v-each-card-option .v-merit-item {
	text-align: start;
	display: flex;
	row-gap: 1rem;
	column-gap: 10px;
}
#create-new-card .v-each-card-option .v-merit-item svg {
	color: var(--primary-clr);
}
#create-new-card .v-each-card-option .v-text .v-other {
	margin-left: 5px;
	font-weight: 450;
	opacity: 0.8;
}
#create-new-card .v-each-card-option .v-text .v-quest {
	white-space: nowrap;
	font-weight: 600;
}
#create-new-card .v-each-card-option .v-text {
	font-size: 0.9rem;
}
:is(#v-edit-username, #v-edit-dob, #v-edit-phone, #v-edit-residential-address) .v-submit-container {
	margin-top: 2rem;
}
:is(#v-edit-username, #v-edit-dob, #v-edit-phone, #v-edit-residential-address) form {
	padding: 0.7rem 0.2rem;
}
#v-edit-residential-address .v-inputs-container {
	display: flex;
	flex-direction: column;
	row-gap: 0.8rem;
}
.modal .v-inputs-container .v-input {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
.modal#v-edit-socials .v-inputs-container .v-input {
	row-gap: 2px;
}
.modal .v-inputs-container .v-input label {
	font-weight: 500;
}
.modal .v-submit-container .v-submit {
	background-color: var(--primary-clr);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-block: 0.8rem;
	border-radius: 5px;
	color: var(--white);
	font-weight: 500;
	font-size: 0.95rem;
	letter-spacing: 0.3px;
	min-height: 2.8rem;
	transition: 300ms ease-in-out;
}
.modal .v-submit-container .v-submit:disabled {
	opacity: 0.6;
}
.modal .v-submit-container .v-submit:disabled:hover {
	opacity: 0.7;
}
.modal .v-submit-container .v-submit:hover {
	background-color: var(--primary-clr-dark);
}
.modal .v-input .form-control {
	min-height: 3rem;
}
.modal .v-input .form-control:focus {
	border-color: var(--primary-clr);
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
	filter: invert(1);
}
.modal .v-pins-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.modal .v-pins-container .v-box-input {
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}
.modal .v-pins-container .v-box-input .form-control {
	height: 100%;
	text-align: center;
	font-size: 1.3rem;
	font-weight: 500;
	background-color: #ddd6;
}
.modal .v-pins-container .v-box-input .form-control:focus {
	border-color: var(--primary-clr);
	border-width: 2px;
}
.modal .v-card-details .v-desc-details {
	display: flex;
	flex-direction: column;
	row-gap: 0.8rem;
}
.modal .v-card-details .v-desc-details .v-detail .v-list-items-container {
	display: flex;
	flex-direction: column;
}
.modal .v-card-details .v-desc-details .v-detail .v-list-items-container .v-list-item {
	list-style-type: disc;
}
.modal .v-card-details .v-desc-details .v-detail .v-list-items-container .v-list-item::marker {
	color: rgba(var(--dark-variant), 0.5);
}
.modal .v-card-details .v-desc-details .v-detail h4 {
	font-size: 1.2rem;
	font-weight: 500;
}
.modal .v-card-details .v-desc-details .v-detail p {
	font-size: 0.95rem;
}
.modal .v-modal-back {
	background-color: var(--primary-clr);
	color: var(--white);
	font-weight: 500;
	padding: 0.7rem 2rem;
	border-radius: 5px;
	transition: 300ms ease-in-out;
}
.modal .v-modal-back:hover {
	background-color: var(--primary-clr-dark);
}
.modal .v-card-pricing {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 10px;
	font-weight: 600;
	border-radius: 5px;
	background-color: #ddd5;
	font-size: 1.3rem;
}
.modal .v-card-details .v-conditions {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}
.modal .v-conditions .form-check {
	display: flex;
	gap: 0.6rem;
	align-items: center;
	cursor: pointer;
}
.modal .v-conditions .form-check .form-check-label {
	line-height: 1.2;
	cursor: pointer;
}
.modal .v-conditions .form-check .form-check-input {
	--size: 1.4rem;
	height: var(--size);
	width: var(--size);
	aspect-ratio: 1/1;
	cursor: pointer;
	box-shadow: none;
	background-color: #ddd5;
}
.modal .v-conditions .form-check .form-check-input:checked {
	background-color: var(--primary-clr);
	box-shadow: none;
	border-color: var(--primary-clr);
}

.modal .v-2ih29cb89 {
	text-align: center;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
.modal .v-2ih29cb89 svg {
	--size: 1.8rem;
	color: var(--primary-clr);
}
.modal .v-2ih29cb89 .v-banner-container {
	display: flex;
	flex-direction: column;
	background-color: rgba(var(--primary-clr-variant), 0.2);
	padding-block: 10px;
	border-radius: 5px;
}
.modal .v-2ih29cb89 .v-banner-container .v-82929h {
	font-size: 0.9rem;
}
.modal .v-2ih29cb89 .v-banner-container .v-82929h .v-phone-num {
	font-weight: 500;
	color: var(--primary-clr);
}
.modal .v-2ih29cb89 .v-banner-container .v-qcw0fj {
	font-size: 0.8rem;
	line-height: 1;
}
.modal .v-23r0u0-9u2 {
	flex-direction: column;
	text-align: center;
	display: flex;
}
.modal .v-23r0u0-9u2 .v-subtext {
	font-size: 0.9rem;
}
.modal .v-2ih29cb89 .v-amount {
	font-weight: 500;
}
.modal .v-selection-wrapper {
	display: flex;
	row-gap: 10px;
	flex-direction: column;
}
.modal .v-selection-wrapper .v_asfbiaf {
	border: 1px solid rgba(var(--dark-variant), 0.1);
	padding: 10px 1rem;
	border-radius: 6px;
	cursor: pointer;
}
.modal .v-selection-wrapper .v_asfbiaf .form-check {
	margin-bottom: 0;
}
.modal .v-selection-wrapper .v_asfbiaf .form-check-input {
	--size: 1.3rem;
	width: var(--size);
	height: var(--size);
}
.modal .v-selection-wrapper .v_asfbiaf .v-image-container {
	--size: 2.3rem;
	width: var(--size);
	height: var(--size);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	max-height: 140px;
	overflow-y: auto;
}
.modal .v-selection-wrapper::-webkit-scrollbar {
	width: 5px;
}
.modal .v-selection-wrapper .v_asfbiaf .v-image-container .img-fluid {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.modal .v-selection-wrapper .v_asfbiaf .form-check-label {
	font-weight: 500;
	font-size: 0.9rem;
	opacity: 0.8;
}
.modal .v-selection-wrapper .v-data-et-toggler {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	border-radius: 5px;
	transition: background-color 300ms ease-in-out;
	user-select: none;
}
.modal .v-selection-wrapper .v-image-container {
	--size: 2rem;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal .v-selection-wrapper .v-type {
	font-weight: 500;
	font-size: 0.9rem;
	opacity: 0.8;
}
.modal .v-data-et-toggler .v-type {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	opacity: 1;
}
.modal .v-data-et-toggler .v-type .v-main-type {
	opacity: 0.8;
	font-weight: 600;
}
.modal .v-data-et-toggler .v-type .v-price {
	font-weight: 400;
	color: var(--dark);
	opacity: 0.7;
	font-size: 0.9rem;
}
.v-modal-main {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}
.v-modal-main .v-modal-header {
	display: flex;
	align-items: center;
	gap: 10px;
}
.v-modal-main .v-modal-header .v-icon svg {
	--size: 2.5rem;
}
.v-modal-main .v-button {
	padding: 0.9rem 2rem;
	flex-grow: 1;
	font-weight: 600;
	border-radius: 5px;
	letter-spacing: 0.6px;
	transition: background-color 300ms ease-in-out;
}
.v-modal-main .v-cancel {
	background-color: #ddd5;
}
.v-modal-main .v-cancel:hover {
	background-color: #ddd7;
}
.v-modal-main .v-learn-more {
	background-color: var(--primary-clr);
	color: var(--white);
}
#onWebLoad .v-image-container {
	max-height: 320px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	overflow: hidden;
}

.v-all-noti-modal .form-check {
	display: flex;
	align-items: center;
	gap: 2rem;
	justify-content: space-between;
	padding-left: 0;
}
.v-all-noti-modal .form-check .form-check-input {
	height: 2.1rem;
	width: 3.5rem;
	cursor: pointer;
	transition: 300ms ease-in-out;
	background-color: rgba(207, 207, 208);
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="rgba(255%2C 255%2C 255%2C 1)" d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2"%2F%3E%3C%2Fsvg%3E');
}
.v-all-noti-modal .form-check .form-check-input:focus {
	box-shadow: none;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="rgba(18%2C 166%2C 50%2C 0.7)" d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2"%2F%3E%3C%2Fsvg%3E');
	border-color: rgba(var(--primary-clr-variant), 0.5);
}
.v-all-noti-modal .form-check .form-check-input:checked {
	background-color: var(--primary-clr);
	border-color: var(--primary-clr);
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="rgba(255%2C 255%2C 255%2C 1)" d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2"%2F%3E%3C%2Fsvg%3E');
}
.v-all-noti-modal .v-checks-container {
	display: flex;
	flex-direction: column;
	padding-block: 2rem 1.5rem;
}
.v-all-noti-modal .v-checks-container .v-each-item:not(:last-child) {
	border-bottom: 1px solid rgba(var(--dark-variant), 0.06);
}
.v-all-noti-modal .v-checks-container .v-each-item .form-check {
	padding-block: 0.6rem 0.7rem;
}
