RewriteEngine On    # Turn on the rewriting engine

# Allow direct access to referral.php
RewriteRule ^referral\.php$ - [L]

# Allow access to the uploads directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^uploads/(.*)$ uploads/$1 [L]

# Do not rewrite requests for static files (CSS, JS, images, fonts)
RewriteCond %{REQUEST_URI} !\.(?:css|js|jpg|jpeg|gif|png|woff|woff2|ttf|svg|eot)$ [NC]

# Pass everything else through index.php
RewriteRule ^([\w+/-]+)$ index.php?path=$1 [NC,QSA,L]

# Disable directory listing
Options -Indexes
