.v-auth-page-wrapper {
	min-height: 100vh;
	min-height: 100dvh;
}
.v-auth-page-wrapper .v-auth-page-wrapper-inner {
	border-radius: 1rem;
	min-height: 0;
}
.v-auth-page-wrapper .v-pre-header-title {
	color: var(--primary-clr-dark);
}
.v-auth .v-image-container {
	overflow: hidden;
	background-image: url("../media/images/auth-background.png");
	height: 100%;
	background-position: center center;
	background-size: cover;
	position: relative;
}
.v-auth .v-layer .v-title {
	color: var(--white);
	font-size: 3rem;
}
.v-auth .v-image-container .v-layer {
	position: absolute;
	padding: 2rem;
	background-color: rgba(0 0 0 / 55%);
	inset: 0;
	color: var(--white);
	display: flex;
	justify-content: end;
	row-gap: 2rem;
	align-items: flex-start;
	flex-direction: column;
}
.v-auth .v-image-container .v-layer .v-subtext {
	font-size: 0.87rem;
	word-spacing: 0.5px;
	letter-spacing: 0.3px;
}
.v-auth .v-logo-wrapper {
	width: var(--max-w, 9rem);
	display: flex;
	align-items: center;
	padding-top: 1rem;
}
.v-auth .v-main-auth {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	flex-direction: column;
}
.v-auth .v-main-auth-inner {
	width: 100%;
	flex-grow: 1;
	display: grid;
	align-items: center;
	overflow-y: auto;
}
.v-auth .v-main-auth-inner::-webkit-scrollbar {
	width: 5px;
}
.v-login .v-main-auth-inner .v-subtext {
	font-size: 0.88rem;
}
.v-forgot-pass .v-main-auth-inner .v-subtext {
	font-size: 0.93rem;
}
.v-forgot-pass .v-main-auth-inner .v-subtext [href] {
	color: var(--primary-clr);
	transition: 300ms ease-in-out;
	text-decoration: 1.5px solid underline transparent;
	text-underline-offset: 3px;
}
.v-forgot-pass .v-main-auth-inner .v-subtext [href]:hover {
	text-underline-offset: 1.5px;
	text-decoration-color: var(--primary-clr);
}
.v-auth .v-form {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	margin-top: 1.5rem;
}
.v-auth .v-form-input {
	display: flex;
	flex-direction: column;
	row-gap: 6px;
	line-height: 1.2;
}
.v-form-input .v-show-hide-password {
	position: absolute;
	right: 6px;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.7;
	transition: 300ms ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
}
.v-forgot-pass .v-form-input .v-icon {
	position: absolute;
	left: 1.57rem;
	top: 50%;
	transform: translate(-50%, -45%);
	pointer-events: none;
}
.v-forgot-pass .v-form-input .form-control {
	padding-left: 2.8rem;
}
.v-forgot-pass .v-icon svg {
	--size: 1.6rem;
	color: var(--primary-clr);
}
.v-form-input .v-show-hide-password:hover {
	opacity: 1;
}
.v-auth .v-label {
	font-size: 0.95rem;
	opacity: 0.85;
}
.v-auth .v-form-input .form-control:not([type="file"]) {
	min-height: 3rem;
}
.v-auth .v-form-input .form-control[type="file"] {
	height: 2.8rem;
	vertical-align: middle;
}
.v-auth .v-form-input .form-control::placeholder {
	font-size: 0.9rem;
	opacity: 0.5;
}
.v-auth .v-form-input .form-control:focus {
	border-color: var(--primary-clr);
}
.v-auth .v-wrap .v-form .v-button {
	background-color: var(--primary-clr);
	color: var(--white);
	width: 100%;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 600;
	padding-block: 0.9rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 300ms ease-in-out;
}
.v-auth .v-wrap .v-form .v-button:hover {
	background-color: var(--primary-clr-dark);
}
.v-auth .v-wrap .v-form .v-button:disabled {
	background-color: #ddd;
	color: #ededed;
	cursor: not-allowed;
}
.v-auth .v-bottom [href] {
	color: var(--primary-clr-dark);
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: 300ms ease-in-out;
	text-underline-offset: 4px;
	font-size: 0.95rem;
	text-decoration-thickness: 1.5px;
}
.v-auth .v-bottom [href]:hover {
	text-decoration-color: var(--primary-clr);
	text-underline-offset: 1.5px;
}
.v-auth .v-bottom .v-bottom-text {
	font-size: 0.94rem;
}
.v-auth .v-forgot {
	color: var(--primary-clr-dark);
}
.v-auth-page-wrapper-inner .v-image-container {
	overflow: hidden;
}
.v-auth-page-wrapper-inner .v-image-container .img-fluid {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center center;
}
