/* min widths */
@media all and (min-width: 400px) {
}

@media all and (min-width: 420px) {
}

@media all and (min-width: 464px) {
}

@media all and (min-width: 476px) {
}

@media all and (min-width: 500px) {
}

@media all and (min-width: 600px) {
}

@media all and (min-width: 768px) {
	.v-auth-page-wrapper .v-auth-page-wrapper-inner {
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		height: 90vh;
		height: 90dvh;
	}
}

@media all and (min-width: 800px) {
}

@media all and (min-width: 991px) {
}

@media all and (min-width: 1024px) {
}

@media all and (min-width: 1200px) {
}

/* max widths */
@media all and (max-width: 1200px) {
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 991px) {
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 650px) {
}

@media all and (max-width: 500px) {
}

@media all and (max-width: 475px) {
}

@media all and (max-width: 400px) {
}

@media all and (max-width: 375px) {
}

@media all and (max-width: 350px) {
}

@media all and (min-width: 768px) and (orientation: landscape) {
}
